body {
  text-align:center;
  color: #010303;
  font-family: Abril Fatface, cursive;
  background-color: #FE4C4C;
  margin-left:20px;
  margin-right:20px;
}
  
.top-row {
    margin-top:25px;
  }

.title {
  font-family: "Abril Fatface",cursive;
  font-size:76px;
  line-height:78px
}

#content {
  padding-top:20px;
  min-height:250px;
}

#joke {
  font-family: Open Sans;
  color: #010303;
  font-size:36px;
}

.button-row {
  text-align:center;
  font-size:36px;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #ffffff;
  border: 2px solid #008CBA;
  border-radius: 8px;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #010303;
  color:white;
}

.button a {
    background-color: #008CBA;
  color:white;
}